.App {
    text-align: center;
  }
  
  .List {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
  }
  
  .List th, .List td {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer; 
  }
  
  .List th {
    background-color: #f2f2f2;
    text-align: center; 
  }
  
  .List tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .List tr:hover {
    background-color: #ddd;
  }
  
  .List td {
    text-align: center;
  }
  
  .List tr.selected {
    background-color: #d0e0ff; 
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions {
    margin-top: 20px;
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
  }
  
  .back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #3498db;
    color: white;
  }

  .add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #2ecc71;
    color: white;
  }
  
  .back_button:hover, .add_button:hover {
    opacity: 0.8;
  }
  
  